.dashboardLink {
  /* max-width: 450px; */
  height: 90vh;
  display: block;
  margin-top: -100px;
  background-color: rgba(203, 243, 57, 0.836) !important;
  padding: 10px;
  margin-top: 2px;
}

.dashboard_header {
  background-color: rgb(112, 231, 88);
  padding: 30px 0;
  text-align: center;
}
.dashboardLink a {
  color: black;
}

@media (max-width: 768px) {
  .dashboardLink {
    height: auto;
  }
}
