.addService {
  margin: 20px auto;
  padding: 30px;
}

.addService input,
textarea {
  width: 100%;
  display: block;
  margin: 5px auto;
  padding: 10px;
  border: 1px solid rgb(29, 201, 201);
  /* border-radius: 20px; */
  outline: none;
}
.addService textarea {
  height: 100px;
  margin: auto;
}

.AddClock img {
  width: 100%;
  height: auto;
}
